@charset "utf-8";
/* CSS Document */


#container{
	margin:0 auto;
	width:1000px;
}

#header{
	width:1000px;
	height:50px;
	background-color:#09F;
}
#content{
	width:1000px;
	background-color:#CCC;
}
#footer{
	width:1000px;
	background-color:#06F;
	height:50px;
}